.header-main {
    display: flex;
    justify-content: space-around; /* Add space between columns */
    
    font-family: Markazi Text, serif;
  

    width: 100%;
    
    margin:8em auto 4em auto;
  }
  
  .header-main  .left-column {
    flex: 1;
    padding: 20px;
  }
  
  .header-main  .left-column h1 {
    color: black;
    font-size: 60px;
    font-weight: 700;
  }
  
 
  
  .header-main  .right-column {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .header-main  .right-column button {
    background-color: #f4ce14;
    border: none;
    border-radius: 2em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    color: #000;
    font-family: Karla, sans-serif;
    font-size: 18px;
    font-weight: 800;
    height: 3em;
    margin: 1em auto; /* Center the button horizontally */
    width: 12em;
  }
  
  
  
.cards{
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 2em;
  @media (max-width: 768px) {
    flex-direction: column; /* Stack cards under each other for mobile */
  }

}