.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #fff; /* Example background color */
    height:90px;
    font-family: "Markazi Text",serif;
    

  }
  
  .main-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Adjust gap between links */
  }
  
  .main-links li a {
    text-decoration: none;
    color: black; /* Example link color */
  }
  
  .logo img {
    max-height: 50px; /* Example logo height */
  }
  


  .menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: 0.4s;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .main-links {
      display: none;
      flex-direction: column;
      text-align: center;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px;
    }
  
    .main-links.active {
      display: flex;
    }
  
    .main-links li {
      margin: 10px 0;
    }
  
    .menu-toggle:checked + .menu-icon .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .menu-toggle:checked + .menu-icon .bar:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle:checked + .menu-icon .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }